.getcontainer{
    margin-left: 600px;
    margin-top: -400px;
}
.getcontainer div > div {
    background-color: rgba(30, 28, 28, 0.837);
    margin-bottom: 10px;
    border-radius: 8px;
    height: 80px;
    width: 450px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
  }