/* nav styles*/
.nav-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .icon {
    font-size: 32px; /* Adjust the icon size as needed */
    color: #fff;
  }
  
  .text {
    font-size: 18px; /* Adjust the text size as needed */
    color: #fff;
    padding-left: 20px;
  }
/* style.css */

